.c-bookmark__container{
    display: flex;
    justify-content: right;
    align-self: flex-start;
    position: absolute;
    width: 100%;
    /* margin-top: .5rem; */
    /* margin-left: 17rem; */
    
}

.c-bookmark{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-transparent);
    border-radius: 50%;
    margin-right: .8rem;
    margin-top: .8rem;
}

.c-bookmark:hover{
    background-color: var(--pure-white);
}

.c-bookmark:active{
    background-color: var(--black-transparent);
}
.c-bookmark-icon{
    padding: .5rem
}