.c-thumbnail__container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    
    min-width: 164px;
    min-height: 110px;

    overflow: hidden;
}

.c-thumbnail__container:hover{
    cursor: pointer;
    filter: brightness(.7);
}