.c-thumbnail__container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    
    
    overflow: hidden;
}

.c-thumbnail__container:hover{
    cursor: pointer;
    filter: brightness(.7);
}

.c-thumbnail__container img{
    width: 100%;
    height: 100%;

}