.c-MovieCard{
    min-width: 164px;
    max-width: 47%;
}

@media screen and (min-width:768px) {
    .c-MovieCard{
        max-width: 32%;
    }
}

@media screen and (min-width:1440px) {
    .c-MovieCard{
        max-width: 24%;
    }
}